body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  padding: 4em 2em;
  display: flex;
  justify-content: space-evenly;
}

#mapContainer {
  height: 60vh;
  width: 50vw;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background: white;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}