.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 20px;
  margin: 3em auto;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: height 1s ease-in-out;
  height: 100%;
}

.form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 20px;
}

.title-text {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.error-message {
  color: red;
  font-size: 1em;
  margin-top: 2em;
}
