#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding: 0em 1em;
}

#header form {
  display: flex;
  flex-direction: column;
}
#header h1 {
  font-size: 3.5em;
}

span.flatironLogo {
  color: lightblue;
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
  bottom: 0.15em;
}

span.username {
  font-weight: bold;
  color: darkslategray;
}

div#headerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

p.tagline {
  font-size: 1.25em;
}
