.login-form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-container {
    text-align: center;
    /* padding: 20px; */
    padding-top: 10px;
    padding-right: 20px;
  }
  
  .login-form input[type="submit"] {
    padding: 10px;
    margin-top: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .expanded {
    height: 100%;
}

  .show {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }